<ul class="article_list" >
<p>＜みんなの投稿＞</p>
<% @articles.each do |article| %>
<% if article.public == 1 %>
<li><%= link_to article.title, article_path(article.id) %></li>
<% end %>
<% end %>
<%= paginate(@articles) %>
</ul>