<div class="user_page">
<h2><%= @user.name %>さんのページ</h2>
<p>＜投稿したメモ一覧＞</p>
<ul class="article_list" >
<% @articles.each do |article| %>
<li><%= link_to article.title, article_path(article.id) %></li>
<% end %>
<%= paginate(@articles) %>
</ul>
</div>