// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash {
  background: pink;
  text-align: center;
  margin: 60px 0 0;
}

.search_form {
  width: 100%;
  position: relative;
}
label[for="search"] {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: -1px;
  background: white;
  text-align: center;
  cursor: pointer;
}
#search {
  width: 100%;
  height: 30px;
  font-size: 16px;
  border: 1px solid #888;
}
.article_list {
  padding-left: 0;
  .article {
    padding: 10px;
    font-weight: normal;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
  
  &__title {
    max-width: 350px;
    overflow: hidden;
    margin: 0;
    font-weight: bold;
    a:hover {
     text-decoration: underline;
   }
  }
  p {
    height: 14px;
    line-height: 14px;
    width: auto;
    text-align: right;
    font-size: 12px;
    color: #888;
    margin: 0;
  }
 }
}
   p.articles_view {
    text-align: center;
    font-size: 20px;
  }



.back_to_top {
  text-align: center;
}

.new_article_page {
  margin-top: 80px;
  text-align: center;
}
  .article_submit_button {
    width: 360px;
    height: 40px;
    font-size: 20px;
    background: #1e90ff;
    color: white;
    border-radius: 5px;
  }

.edit_article_area {
  margin-top: 80px;
  text-align: center;
}

#article_title {
  width: 360px;
  height: 25px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding-left: 5px;
}

#article_body {
  width: 480px;
  height: 600px;
  font-size: 14px;
  line-height: 30px;
  font-family: Monaco;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 5px;
}

@media (max-width: 500px) {
  .article_submit_button {
    width: 250px;
  }
  #article_title {
    width: 220px;
  }
  #article_body {
    width: 100%;
  }
}


.article_area {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-family: Monaco;
  margin-bottom: 20px;
  line-height: 30px;
}

.writer {
 text-align: right;
  margin-top: 70px;
  color: #888;
}
.back_to_top {
  margin: 70px auto 20px;
  &__button {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 5px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background: #1e90ff;
  }
}

.select_area {
  margin-bottom: 50px;
  font-size: 14px;
  &__button {
    float: left;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 20px;
  }

}