
body {
  background: #eee;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  overflow: hidden;
}

a {
  color: #333;
  text-decoration: none;
}

.icon {
  float: right;
  font-size: 40px;
  margin-right: 75px;
  width: 96px;
}

ul {
  list-style: none;
  
}

header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
 
  background: #0c0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  .header {
    position: relative;
    vertical-align: center;
    &_button {
      height: 60px;
      position: absolute;
      right: 120px;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      .fa-edit {
        display: none;
      }
      &_post {
        display: block;
        width: 100px;
        height: 40px;
        border: 2px solid white;
        border-radius: 5px;
        line-height: 40px;
        color: white;
        margin-right: 20px;
      }
      &_user {
        height: 40px;
        line-height: 40px;
        padding: 0 5px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        .menu {
          position: absolute;
          top: 50px;
          right: -10px;
          background: white;
          padding-left: 0px;
          text-align: center;
          margin: 0;
          border-right: 1px solid #999;
          border-left: 1px solid #999;
          display: none;
           a {
            text-decoration: none;
            display: block;
            width: 100px;
            padding: 5px;
            border-bottom: 1px solid #999;
          &:hover {
            background: #ccc;
            color: white;
          }
          
          }
        }
      }
    }
    &_title {
      position: absolute;
      top: 0px;
      left: 45%;
      display: block;
      font-size: 30px;
      color: white;
      font-weight: bold;
    }
    @media (max-width: 760px) {
      &_title {
        left: 20px;
        font-size: 20px;
      }
    &_button {
      right: 20px;
      &_post {
        display: none;
      }
      &_post_icon {
        color: white;
        .fa-edit {
          display: block;
          font-size: 24px;
          margin-right: 10px;
        }
      }
    }
    }
  }
}

.container {
    width: 500px;
    height: 100%;
    padding: 10px 30px 50px;
    margin: 0px auto;
    background: white;
}

@media (max-width: 500px) {
  .container {
    width: calc(100% - 60px);
  }
}

@media (max-width: 1110px) {
.checked_article_list {
  display: none;
}
}
@media  (min-width: 1111px) {
  .checked_article_list {
    display: block;
    width: 200px;
    height: 370px;
    background: white;
    position: fixed;
    top: 100px;
    left: 30px;
    padding: 10px;
    &__title {
      height: 30px;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
    }
    &__item{
      padding: 5px 0;
      overflow: hidden;
      border-bottom: 1px dashed #ccc;
      font-size: 14px;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}


.pagination {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  a:hover {
    text-decoration: underline;
  }
  .current{ 
    font-size: 24px;
  }
}

input[type="submit"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: content-box;
  cursor: pointer;
}

