
body {
  background: #eee;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  overflow: hidden;
}

a {
  color: #333;
  text-decoration: none;
}

header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  background: #0c0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  a {
    color: white;
    margin-left: 120px;
    font-weight: bold;
  }
}


.icon {
  float: right;
  font-size: 40px;
  margin-right: 75px;
  width: 96px;
}

ul {
  list-style: none;
  
}

.menu {
  position: fixed;
  top: 60px;
  right: 70px;
  background: white;
  padding-left: 0px;
  text-align: center;
  margin: 0;
  border-top: 1px solid black;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  display: none;
   li {
    padding: 8px;
    border-bottom: 1px solid #999;
  }
}
@media screen and (max-width: 1110px) {
.checked_article_list {
  display: none;
}
}
@media screen and (min-width: 1110px) {
  .checked_article_list {
    display: block;
    width: 200px;
    height: 370px;
    background: white;
    position: fixed;
    top: 100px;
    left: 30px;
    padding: 10px;
    &__title {
      height: 30px;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
    }
    &__item{
      padding: 5px 0;
      overflow: hidden;
      border-bottom: 1px dashed #ccc;
      font-size: 14px;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
.container {
  width: 500px;
  height: 100%;
  padding: 10px 30px 50px;
  margin: 0px auto 0;
  background: white;
}

.pagination {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  a:hover {
    text-decoration: underline;
  }
  .current{ 
    font-size: 24px;
  }
}

input[type="submit"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: content-box;
  cursor: pointer;
}

