// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin button-design($color){
  padding: 0;
  width: 240px;
  height: 40px;
  font-size: 16px;
  background: $color;
  border-radius: 3px;
  color: White;

}

.user_page {
  margin-top: 60px;
  padding-top: 20px;
  &__title {
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
  }
}


.users_articles {
  text-align: center;
 font-size: 18px;
}

.link_to_edit_user {
  float: right;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  padding: 5px;
  border: 1px solid #1e90ff;
  border-radius: 3px;
  text-align: center;
  color: #1e90ff;
  &:hover {
    opacity: 0.6;
  }
}

.user_input_form {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;

  .field {
    margin-bottom: 30px;
    label {
      font-weight: bold;
      cursor: pointer;
        display: inline-block;
        margin-bottom: 10px;
    }
    .input_form {
      display: inline-block;
      border-radius: 2px;
      border: 1px solid #ccc;
      margin-bottom: 5px;
      font-size: 14px;
      padding: 0 5px;
      width: 100%;
      height: 30px;
    }
  }
}


.user_update_button, .user_delete_button {
  @include button-design(#1e90ff)
}
.user_delete_button  {
  display: block;
  width: 200px;
  background: #ccc;
  margin: 10px auto 0;
}
.user_delete_message {
  font-size: 14px;
  width: 380px;
}


.user_page_footer {
  border-top: 1px dashed #333;
  padding-top: 30px;
  width: 60%;
  margin: 0 auto;
  p {
    margin: 0 auto;
    width: 240px;
  }
}

.actions {
  p{
    margin: 0; 
  }
  text-align: center;
  padding-top: 30px;
  &__signup_button{
    @include button-design(#0c0);
  }
  &__signin_button {
    @include button-design(#1e90ff);
  }
  &__signin_link {
    @include button-design(#1e90ff);
    margin-top: 20px;
    display: inline-block;
    line-height: 40px;
  }
  &__signup_link {
    @include button-design(#0c0);
    margin-top: 20px;
    display: inline-block;
    line-height: 40px;
  }
  &__back_button {
    @include button-design(#ccc);
    display: inline-block;
    line-height: 40px;
    margin-top: 20px;
  }
}
